body {
    background-color: #000;
    font-family: Papyrus, fantasy, serif;
    color: white;
}

header {
    background-image: url("images/header.jpg");
    background-size: cover;
    background-color: grey;
    height: 33vh;
    color: white;
    font-size: 3vh;
    text-align: center;
    line-height: 33vh;
    margin: 1vh;
    border: 1px double white;
    min-width: 90vw;

}

header.subsite {
    height: 15vh;
    line-height: 15vh;
}

#flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#plato {
    text-align: center;
    margin: 2em;
    font-size: 0.5em;
}

.caro {
    margin: auto;
    width: 600px;
    max-height: 60vh;
}


.carousel-caption {
    background-color: rgb(0,0,0,0.9);
    border: 5px double white;
    font-size: 2vh;
}

img.caro {
    width: auto;
    max-height: 60vh;
}
